.container {
    padding: 0.7rem;
    margin: 0.7rem 0.7rem 0 0.7rem;
    display: flex;
    flex-direction: column;
    column-gap: 1.4rem;;
}

.mat-form-field {
    flex-grow: 1;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        margin-right: 1.4rem;
    }
}