<div class="wrapper">
    <table>
        <tr class="row-months">
            <th>Month</th>
            <td *ngFor="let monthText of months" title="{{monthText}}"><span>{{monthText[0]}}</span></td>
        </tr>
        <tr>
            <th>Availability</th>
            <td *ngFor="let monthText of months; index as i" 
                [ngSwitch]="product.getSeasonalStatus(i + 1)" 
                class="indicator-container indicator-container-{{product.getSeasonalStatus(i + 1)}}"
                title="{{getSeasonalStatusDescription(i + 1)}}">
                <span *ngIf="selectedMonth === (i + 1)">X</span>
                <span *ngSwitchCase="SeasonalStatusEnum.Available" class="indicator">Available</span>
                <span *ngSwitchCase="SeasonalStatusEnum.Best" class="indicator">Best</span>
                <span *ngSwitchCase="SeasonalStatusEnum.NotAvailable" class="indicator">Not available</span>
            </td>
        </tr>
    </table>
</div>
